* {
    font-family: 'Creepster', cursive;
}

@media screen and (max-width: 639px) {
    body {
        background-color: #960acd;
    }
    


}

@media screen and (min-width: 640px){
    body {
        height: 100vh;
        margin: auto;
        background: top no-repeat url("../IMG/small-background.jpg");
        background-color: #000000;
    }
}


.content {
    width: 400px;
    text-align: center;
    margin: auto;
    margin-top: 130px;
    padding: 20px;
}

.title {
    font-size: 64px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.largeButton {
    font-size: 64px;
    width: 260px;
    height: 90px;
    color: #ffffff;
    background-color: #111111;
    border-radius: 100px;
    margin: auto;
    padding-bottom: 90px;
}

/* #eightBall {
    width: 350px;
    height: 350px;
    left: 22px;
    top: 168px;
    background-color: #111111;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;

} */

#answers {
    width: 200px;
    height: 200px;
    background-color: #ffffff;
}